.top {
    color: black ;
}


.profilepic {
    height: 500px;
    width: 400px;
    border: 1px solid white;
    border-radius: 25px;

}

.alma {
    height: 500px;
    width: 400px;
    border: 1px solid white;
    border-radius: 25px;
}

.doggo {
    height: 500px;
    width: 400px;
    border: 1px solid white;
    border-radius: 25px;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ambackground {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 30px;

}

.ptext {
    color: black;
}

.spacer {
    padding: 20px;
}