.header {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.header2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 615px;
}

.logo {
    height: 150px;
    width: 150px;
}

.item {
    padding: 10px;
    background-image: linear-gradient(45deg, #7884f3, #af42a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}