.App {
  text-align: center;
}


.background {
  background-image: url('/src/images/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

